pkgbase = gephi-git
	pkgdesc = An interactive graph visualization and exploration platform
	pkgver = r3812.d17eb89
	pkgrel = 1
	url = https://gephi.github.io/
	arch = armv6h
	arch = armv7h
	arch = i686
	arch = x86_64
	license = CDDL
	license = GPL3
	makedepends = git
	makedepends = maven
	depends = java-runtime
	depends = libxxf86vm
	depends = jdk7-openjdk
	provides = gephi
	conflicts = gephi
	source = git://github.com/gephi/gephi#branch=master
	sha512sums = SKIP

pkgname = gephi-git

